<!DOCTYPE html>
<html>
<head>
    <base href="/">

    <meta charset="utf-8">
    <title>AppBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    @RenderSection("styles", required: false)
</head>
<body>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - AppName</p>
        </footer>
    </div>

    <environment include="Development">
    </environment>
    <environment exclude="Development">

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
